<div class="footer">
    <div class="container">
        <div class="sitemap clearfix">
            <dl>
                <dt>关于产品</dt>
                <!--<dd><a href="goumai.html">购买</a></dd>-->
                <dd><a href="jianceliucheng.html">检测流程</a></dd>
                <dd><a href="shequ.html">基因club</a></dd>
                <dd><a href="guanyujiance.html">关于基因检测</a></dd>
            </dl>
            <dl>
                <dt>报告示例</dt>
                <dd><a href="baogaomeiyan.html">精准美颜指导</a></dd>
                <dd><a href="baogaoyingyang.html">儿童营养需求评估</a></dd>
                <dd><a href="baogaoaibing.html">高发癌症风险预测</a></dd>
                <dd><a href="baogaomanbing.html">常见慢病风险评估</a></dd>
                <dd><a href="baogaojianfei.html">精准减肥指导</a></dd>
            </dl>
            <dl>
                <dt>用户信息</dt>
                <dd><a href="login.html">登录</a></dd>
                <dd><a href="register.html">注册</a></dd>
                <!--<dd><a href="gereninfo.html">个人中心</a></dd>-->
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd><a href="guanyuwomen.html">关于我们</a></dd>
                <!--<dd><a href="jiaruwomen.html">加入我们</a></dd>-->
                <dd><a href="yonghuxieyi.html">服务协议</a></dd>
            </dl>
            <dl>
                <dt>微信公众号</dt>
                <dd>
                    <img width="110" src="images/index-qrcode.jpg">
                </dd>
            </dl>
            <dl>
                <dd><img style="width: 76px; height: 40px;" src="images/logo.png"></dd>
                <dd class="fuwu"><a href="javascript:;">服务热线</a></dd>
                <dd class="rexian"><a href="javascript:;">027-8720-6915</a></dd>
            </dl>
        </div>
        <div class="line"></div>
        <div class="copyright">2018 GeneMe. All Rights Reserved  鄂ICP备14013250号-2   鄂公网安备 42018502001124 号</div>
    </div>
</div>