<div class="header">
    <div class="top-menu">
        <div class="container">
            <ul>
                <li><span class="menu-username"></span></li>
                <!--<li><a href="javascript:;">通知<span class="badge badge-important">0</span></a></li>-->
                <!--<li><a href="javascript:;">私信<span class="badge">0</span></a></li>-->
                <li><a href="gerenorder.html">订单</a></li>
                <li><a href="gereninfo.html">设置</a></li>
                <li><a href="javascript:;" class="logout">退出</a></li>
            </ul>
        </div>
    </div>
    <div class="menu fixed">
        <div class="container clearfix">
            <a href="index.html" class="logo">
                <img src="images/logo.png" width="76" height="40"/>
            </a>
            <div class="usernav">
                <a href="login.html">登录</a> / <a href="register.html">注册</a>
            </div>
            <div class="navbar">
                <ul class="clearfix">
                    <li class="nav-home"><a href="index.html">首页</a></li>
                    <li class="nav-liucheng"><a href="jianceliucheng.html">检测流程</a></li>
                    <li class="nav-demo"><a href="javascript:;">报告示例</a></li>
                    <li class="nav-shequ"><a href="shequ.html">社区</a></li>
                    <li class="nav-goumai"><a href="javascript:;">购买</a></li>
                    <!--<li class="serch"><a href="javascript:;"><i class="iconfont icon-sousuo color-blue"></i>搜索</a></li>-->
                    <li class="report">
                        <div class="dropdown">
                            <a href="gerenspeed.html" class="title">
                                <span class="current-report">报告</span>
                                <i class="iconfont icon-xiangxia"></i>
                            </a>
                            <div class="content">
                                <ul class="list">
                                    <li><a href="gerenbindlist.html">绑定检测套件</a></li>
                                    <!--<li><a href="javascript:;">导入23andMe数据</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <!--<div class="serch-box">-->
                <!--<i class="iconfont icon-sousuo"></i>-->
                <!--<a href="javascript:;">搜报告</a>-->
                <!--<a href="javascript:;" class="active">搜社区</a>-->
                <!--<span>|</span>-->
                <!--<input class="search-query" type="text" placeholder="搜索关键字...">-->
                <!--<i class="iconfont icon-delete color-blue"></i>-->
            <!--</div>-->
        </div>
    </div>
    <div class="nav-toggle">
        <div class="toggle demo" id="demo">
            <ul>
                <li><a href="baogaomeiyan.html"><img src="images/nav_gm_meiyan.png" width="83" height="83">精准美颜指导</a></li>
                <li><a href="baogaoyingyang.html"><img src="images/nav_gm_yingyang.png" width="83" height="83">儿童营养需求评估</a></li>
                <li><a href="baogaoaibing.html"><img src="images/nav_gm_aibing.png" width="83" height="83">高发癌症风险预测</a></li>
                <li><a href="baogaomanbing.html"><img src="images/nav_gm_manxingbing.png" width="83" height="83">常见慢病风险评估</a></li>
                <li><a href="baogaojianfei.html"><img src="images/nav_gm_jianfei.png" width="83" height="83">精准减肥指导</a></li>
            </ul>
        </div>

        <div class="toggle goods" id="goods">
            <ul>
                <li><a href="meiyanxiangqing.html?id=1"><img src="images/nav_meiyan.png" width="83" height="83">精准美颜指导</a></li>
                <li><a href="yingyangxiangqing.html?id=3"><img src="images/nav_yingyang.png" width="83" height="83">儿童营养需求评估</a></li>
                <li><a href="aibingxiangqing.html?id=4"><img src="images/nav_aibing.png" width="83" height="83">高发癌症风险预测</a></li>
                <li><a href="manxingbingxiangqing.html?id=2"><img src="images/nav_manxingbing.png" width="83" height="83">常见慢病风险评估</a></li>
                <li><a href="jianfeixiangqing.html?id=5"><img src="images/nav_jianfei.png" width="83" height="83">精准减肥指导</a></li>
            </ul>
        </div>
    </div>
</div>